<h1> Bookmark Manager </h1>

<form method="get" action="/bookmarks">
    <button type="submit">View Bookmarks</button>
</form>

<form method="get" action="/bookmarks/new">
    <button type="submit">Add Bookmarks</button>
</form>