<h1>Bookmark list:</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form method="get" action="/">
  <button type="submit">Return to Homepage</button>
</form>